body{
    
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
    background-color:#ffebcd;
    }
 div h1{
    text-align: center;
 
}
div img{
    width: 230px;
    height: 260px;
    margin: 10px;
   
}

div h1{
    border-bottom: 1px gray solid
}
div{
    display: ;
flex-basis: 20%;
justify-content: space-around;

}
.flex{
    display: flex;
    flex-wrap:wrap; 
    margin: 10px;
    
width:0px ;
}
.flex img{
    
    width: 200px;
    flex-basis: 25%;

display: flex;
}
div{
    margin: 10px;

}
.flexx{
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    width: px;
}.flexx img{
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
    gap: 10px;
    width: 100px;
}